<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <footer>
        <!--
    <div class="container px-0">
        <div class="row footer_bar align-items-center">
            <div class="login_button col-lg-12  px-4">
                <link><a href="login.html">Login</a>
            </div>
        </div>
    </div>
    -->
        <div class="footer">

        </div>
    </footer>
</body>
</html>